.container-weather-week {
  @extend .containers-home;
  padding: 1rem;
  flex: 1;
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  .swiper {
    &.swiper-lg {
      display: none;
      @media (min-width: $min-width-lg) {
        display: block;
        max-height: 25rem;
        min-width: 14rem;
        .swiper-wrapper {
          .swiper-slide {
         max-width: 13rem;
          }
        }
      }
    }
    &.swiper-sm {
      display: block;
      @media (min-width: $min-width-lg) {
        display: none;
      }
    }
  }
  .container-weather-week-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    .container-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
