.container-weather-week {
  @extend .containers-home;
  padding: 1rem;
  flex: 1;
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .container-weather-week-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
