.container-search-input {
  display: flex;

  .MuiFormControl-root {
    flex: 1;

    @media (min-width: $min-width-lg) {
      max-width: 40rem;
    }
    .css-4bojcr-MuiInputBase-root-MuiOutlinedInput-root {
      background-color: $Blanco_Nieve;
      border: none;
    }
  }
}
