#Container-home {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  @media (min-width: $min-width-lg) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container-body-home {
    display: flex;
    flex-direction: column;

    flex: 1;
    gap: 1rem;
    @media (min-width: $min-width-lg) {
      flex-wrap: wrap;
      flex-direction: row;
    }
    .container-weather {
      gap: 1rem;
      display: flex;
      flex-direction: column;
      @media (min-width: $min-width-lg) {
        max-width: 40rem;
      }
      .container-weather-l {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        @media (min-width: $min-width-md) {
          flex-direction: row;
        }
      }
    }
    .container-weather-t {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media (min-width: $min-width-lg) {
        max-width: 16rem;
      }
      @media (min-width: $min-width-xl) {
        max-width: 20rem;
      }
    }
  }
}
