* {
  padding: 0;
  margin: 0;
}
.App {
  //background-color: $Azul_Marino;
  //background-image: url(https://i.pinimg.com/736x/c5/f3/31/c5f331770f86cd888bd2277d78fc0d90.jpg);
  background-image: url(https://i.pinimg.com/originals/f8/42/6b/f8426bf4f6892dfed16b2e0f583d5670.gif);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $min-width-lg) {
    padding: 3rem;
  }
  .body-container {
    width: 20rem;
    position: relative;
    padding: 1rem;
    z-index: 1000;
    display: flex;
    gap: 1rem;
    &::before {
      content: "";
      z-index: -1;
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
      backdrop-filter: blur(5px);
      box-shadow: 1px 1px 19px 1px rgba(#000, 0.35);
    }
    @media (min-width: $min-width-lg) {
      width: 100%;
      height: 80.5vh;
    }
  }
}
.containers-home {
  background-color: $Blanco_Nieve;
  border-radius: 1rem;
}
